* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background-color: #272727;
    color: #f0f8ff;
    padding: 16px;
    text-align: center;
    line-height: 32px;
}
section > h2 {
    width: 100%;
    height: 48px;
    text-align: center;
    padding-top: 8px;
    background-color: #c0c0c0;
}
.geometricFigures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0c77d4;
}
.sales {
    background: rgb(226, 153, 18);
    padding-bottom: 20px;
}
.averages {
    background-color: #333;
    padding-bottom: 20px;
}
.formTitle {
    color: #fff;
}
.box {
    width: 300px;
    text-align: center;
    margin: 32px auto;
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #00000029, -4px -4px 8px #FFFFFF29;
    color: #fff;
}
.sqrForm, .triangleForm, .circleForm {
    background-color: #0a7adb;
}
.medians {
    background-color: #333;
}
.answer {
    height: 64px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.answer .txtAnswer {
    width: 1000%;
    height: 100%;
    box-shadow: inset 4px 4px 8px #00000029, inset -4px -4px 8px #ffffff29;
    border-radius: 12px;
}
.generalForm {
    padding: 24px;
}
.generalForm label, .generalForm input, .generalForm button{
    display: block;
}
.generalForm input {
    border: none;
    height: 32px;
    width: 200px;
    border-radius: 12px;
    margin: 16px auto;
    background-color: #ddd;
    padding-left: 12px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    outline: none;
    box-shadow: inset 4px 4px 8px #0000004d, inset -4px -4px 12px #ffffff;
}
.generalForm button {
    border: none;
    width: 200px;
    border-radius: 12px;
    margin: 8px auto;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
}
.txtAnswer p {
    margin-top: 12px;
    color: #fff;
    font-size: 17px;
}
.priceDiscount {
    background-color: orange;
}
.sqrForm button:active, .triangleForm button:active, .circleForm button:active {
    background-color:#0a69bd;
    margin-bottom: 32px;
    box-shadow: inset 4px 4px 12px #00000029, inset -4px -4px 8px #ffffff29;
}
.sqrForm button, .triangleForm button, .circleForm button {
    background-color:#0a69bd;
    margin-bottom: 32px;
    box-shadow: 4px 4px 16px #00000029, -4px -4px 8px #ffffff29;
}
.priceDiscount button {
    background-color: #e0970e;
    box-shadow: 4px 4px 16px #00000029, -4px -4px 8px #ffffff29;
}
.priceDiscount button:active {
    box-shadow: inset 4px 4px 12px #00000029, inset -4px -4px 8px #ffffff29;
}
.medians button {
    background-color: #2f2f2f;
    box-shadow: 4px 4px 16px #00000029, -4px -4px 8px #ffffff29;
}
.medians button:active {
    box-shadow: inset 4px 4px 16px #00000029, inset -4px -4px 8px #ffffff29;
}