* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background-color: #272727;
    color: #f0f8ff;
    padding: 16px;
    text-align: center;
    line-height: 32px;
}
.formTitle {
    color: #fff;
}
.sqrForm {
    width: 300px;
    height: auto;
    text-align: center;
    margin-top: 32px;
    margin-left: 32px;
    padding: 8px 16px;
    background-color: #0a7adb;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #00000029, -4px -4px 8px #00000029;
}
.sqrForm .answer {
    height: 64px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.answer .square {
    border: 4px solid white;
    height: 42px;
    width: 42px;
    border-radius: 8px;
}
.answer .txtAnswer {
    width: 150px;
    height: 100%;
    box-shadow: inset 4px 4px 8px #00000029, inset -4px -4px 8px #ffffff29;
    border-radius: 12px;
}
.generalForm {
    padding: 24px;
}
.generalForm label, .generalForm input, .generalForm button{
    display: block;
}
.generalForm input {
    border: none;
    height: 32px;
    width: 200px;
    border-radius: 12px;
    margin: 16px auto;
    background-color: #fff;
    padding-left: 12px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    outline: none;
}
.generalForm button {
    border: none;
    width: 200px;
    border-radius: 12px;
    margin: 8px auto;
    background-color:#00268f;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
}
.txtAnswer p {
    margin-top: 12px;
    color: #fff;
    font-size: 17px;
}